<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/login">
        <!--<input type="hidden" name="next" th:value="${next}">-->
        账号:<input name="account"></br>
        密码:<input name="password"></br>
        <input type="botton" value="登录" onclick="submit(this)">
    </form>
</body>
<script type="text/javascript">
    function submit(obj) {
        obj.parent.submit();
    }
</script>
</html>