<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center><a href="/productinfo/applyproduct">申请秒杀商品</a> </center>
    <table border="2">
        <tr>
            <td>商品id</td>
            <td>商品标题</td>
            <td>图片地址</td>
            <td>秒杀价格</td>
            <td>商家id</td>
            <td>秒杀原价</td>
            <td>申请时间</td>
            <td>状态</td>
            <td>秒杀开始时间</td>
            <td>秒杀结束时间</td>
            <td>秒杀商品数</td>
            <td>库存</td>
            <td>商品描述</td>
            <td>操作</td>
        </tr>
        <tr th:each="productInfo:${list}">
            <td th:utext="${productInfo.getProductId()}" />
            <td th:utext="${productInfo.getProductTitle()}" />
            <td th:utext="${productInfo.getProductPicture()}" />
            <td th:utext="${productInfo.getSeckillPrice()}" />
            <td th:utext="${productInfo.getMerchantId()}" />
            <td th:utext="${productInfo.getOriginalPrice()}" />
            <td th:utext="${productInfo.getApplyDate()}" />
            <td th:utext="${productInfo.getAuditState()}" />
            <td th:utext="${productInfo.getStartTime()}" />
            <td th:utext="${productInfo.getEndTime()}" />
            <td th:utext="${productInfo.getProductCount()}" />
            <td th:utext="${productInfo.getStockCount()}" />
            <td th:utext="${productInfo.getDescription()}" />
            <td>
                <a th:href="'/productinfo/toupdateproduct?id='+${productInfo.getId()}">修改</a>||
                <a th:href="'/productinfo/del?id='+${productInfo.getId()}">删除</a>||
                <a th:href="'/productinfo/queryproductinfobyid?id='+${productInfo.getId()}">查看</a>||
                <a th:href="'/productinfo/toupdateproductstate?id='+${productInfo.getId()}">审核</a></br>
                <a th:href="'/productdetail/toinsertproductdetail?productId='+${productInfo.getProductId()}+'&&merchantId='+${productInfo.getMerchantId()}">添加商品详情</a>||
                <a th:href="'/productdetail/queryproductdetailbyid?productId='+${productInfo.getProductId()}">查看商品详情</a>||
                <a th:href="'/productdetail/toupdateproductdetail?productId='+${productInfo.getProductId()}">修改商品详情</a>

            </td>
        </tr>
    </table>
</body>
</html>